{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Inventaires</title>
<div class="row justify-content-center">
    <div class="col-sm-12">
        <div class="card text-left">
            <h1 class="card-header">Archive des Inventaires</h1>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                          <tr>
                            <th scope="col" class="text-left">Nom de l'inventaire</th>
                          </tr>
                          <tbody>
                              <!-- ici le contenu des tables-->
                          </tbody>
                        </thead>
                    </table>    
                </div>    
            </div>
        </div>    
    </div>
</div>
{% endblock %}