{% extends 'base.html' %}
{% load static %}
{% block content %}

<title>404</title>
<div class="row">
    <div class="col-sm-12">
        <div class="card" style="height: 50em;">
            <div class="col-sm-6">
                <div class="row justify-content-center">
                    <h1 class="card-header font-weight-bold text-muted" style="font-size:9em">404</h1>
                </div>  
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <H3 class="font-weight-bold text-muted" style="font-size:5em">"Bonjour,</H3>
                </div>
                <div>
                    <div class="col sm-6">
                        <div class="row justify-content-center">
                        <p class="font-weight-bold text-muted justify-content" style="font-size:1.5em">La page que vous avez demandée n'est pas attribuée, votre requête ne peut aboutire"</p>
                        <br> 
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>

{% endblock %}