{% extends 'base.html' %}
{% load static %}
{% block content %}

<title>Créer une nouvelle Catégorie</title>
<form action="" method="POST" enctype="multipart/form-data" method="post">{% csrf_token %}
    <div class="row">
        <div class="card col-12 shadow">
            <div class="row">
                <div class="card-header text-primary col-12">
                    <H3>Créer une Catégorie</H3>
                </div>
            </div>

            <div class="row">
                <div class="card-body">
                    <div class="form-group col-12">
                        <label for="name">Nom de la catégorie</label>
                        {{ CategoryForm.name }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card-footer col-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                                <a href="{% url 'products' %}" class="btn btn-danger col-sm-12">ANNULER</a>
                        </div>
                        <div class="col-sm-12 col-md-6">
                                <button type="submit" class="btn btn-primary col-sm-12">CRÉER LA CATÉGORIE</button>
                        </div>
                    </div>            
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}