{% extends 'base.html' %}
{% load static %}
{% block content %}

<title>Page Produit</title>

<!-- Values Cards -->
<div class="row" style="padding-bottom: 1rem;">
    <div class="col-12">
        <div class="card col-12 shadow">
            <div class="row">
                <H2 class="card-header col-12" style="position:relative">
                    <a href="{% url 'products' %}" class="text-muted" style="position: relative; bottom: -4px" >
                        <i class="fas fa-fw fa-chevron-left"></i>
                    </a>
                    {{ category.name }}
                </H2>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <label>Nom de la Ctégorie</label>
                        <p>{{ category.name }}</p>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="card-footer col-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <button type="button" class="btn btn-danger col-12" data-toggle="modal" data-target="#exampleModalCenter">
                                SUPRPIMER
                            </button>
                                
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Supprimer {{ costumer.username }} ?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Voulez-vous vraiment supprimer cette catégorie ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary col" data-dismiss="modal">Fermer</button>
                                        <a href="{% url 'categoriesDelete' category.id %}" class="btn btn-danger col">SUPPRIMER</a>
                                    </div>
                                </div>
                            </div>
                        </div>            
                    </div>
                    <div class="col-sm-12 col-md-4">
                            <a href="{% url 'categoriesModify' category.id %}" class="btn btn-secondary col-12">MODIFIER</a>
                    </div>
                    <div class="col-sm-12 col-md-4">
                            <a href="{% url 'categoriesCreate' %}" class="btn btn-primary col-12">CRÉER UN CLIENT</a>
                    </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card col-12 shadow">
            <div class="row">
                <div class="card-header col-12">
                    <div class="row">
                        <div class="col-11">
                            <H3>Liste des produits dans la catégorie : {{ category.name }}</H3>
                        </div>
                        <div class="col-1 justify-content-end">
                            <h3>
                                <a href="{% url 'categoriesCreate' %}" class="text-muted" >
                                    <i class="fas fa-fw fa-plus"></i>
                                </a>     
                            </h3>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="row">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="text-primary">
                                        <tr>
                                            <th>Produits</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for product in products %}
                                            <td>
                                                <a href="{% url 'productsDetails' product.id %}">{{ product.name }}</a>
                                            </td>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}