{% extends 'base.html' %}
{% load static %}
{% block content %}

<title>Page Produit</title>

<!-- Values Cards -->
<div class="row">
    <div class="col-12">
        <div class="card col-12 shadow">
            <div class="row">
                <H2 class="card-header col-12" style="position:relative">
                    <a href="{% url 'products' %}" class="text-muted" style="position: relative; bottom: -4px" >
                        <i class="fas fa-fw fa-chevron-left"></i>
                    </a>
                    {{product.name}}
                </H2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col {% if product.image %} col-md-9 col-xs-12 {% else %} col-12 {% endif %}">
                        <div class="row">
                            <div class="col col-md-4 col-xs-12">  
                                <label>Nom du produit</label>
                                <p>{{ product.name }}</p>
                            </div>
                            <div class="col col-md-4 col-xs-12">
                                <label>Catégorie</label>
                                <p>
                                    {{ product.category }}
                                </p>    
                            </div>
                            <div class="col col-md-4 col-xs-12">
                                <label>Prix</label>
                                <p>{{ product.price|floatformat:2 }} €</p>  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-4 col-xs-12">
                                <label>Genre</label>
                                {% for gender in product.gender.all %}
                                <p>{{ gender }}</p>
                                {% endfor %}
                            </div>
                            <div class="col col-md-4 col-xs-12">
                                <label> Description</label>
                                <p>{{ product.description }}</p>
                            </div>
                        </div>   
                    </div>
                    
                    {% if product.image %}
                    <div class="col col-md-3 col-xs-12">
                        <div class="row">
                            <label>Image du Produit</label>
                            <br>
                            <img class="card-img" src="{{ product.image.url }}">    
                        </div>    
                    </div>
                    {% endif %}    
                </div>
            </div>
            <div class="row">
                <div class="card-footer col-12">
                    <div class="row">
                        <div class="col">
                                <button type="button" class="btn btn-danger col-sm-12" data-toggle="modal" data-target="#exampleModalCenter">
                                    SUPRPIMER
                                </button>
                                    
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Supprimer {{ product.name }} ?</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Voulez-vous vraiment supprimer ce produit ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary col" data-dismiss="modal">Fermer</button>
                                                <a href="{% url 'productsDelete' product.id %}" class="btn btn-danger col">SUPPRIMER</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>            
                        </div>
                        <div class="col">
                            <a href="{% url 'productsModify' product.id %}" class="btn btn-secondary col-sm-12">MODIFIER</a>
                        </div>
                        <div class="col">
                            <a href="{% url 'productsCreate'%}" class="btn btn-primary col-sm-12">CRÉER UN PRODUIT</a>
                        </div>
                    </div>        
                </div>
            </div>
        </div> 
    </div>
</div>

<!-- Boutons -->


{% endblock %}