{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Produits</title>
<div class="row justify-content-center">
    <div class="col-sm-12">
        <div class="card text-left">
            <h1 class="card-header">Produits</h1>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                          <tr>
                            <th scope="col" class="text-left">Produits</th>
                            <th scope="col" class="text-left">Catégorie</th>
                            <th scope="col" class="text-left">Genre</th>
                            <!-- mettre sous condtion l'affichage de cette ligne -->
                            <th scope="col" class="text-right">Prix unitaire</th>
                          </tr>
                          <tbody>
                              <!-- ici le contenu des tables-->
                              {% for product in products %}
                              <tr>
                                  <td class="text-left">
                                      <a href="{% url 'productsDetails' product.id %}">{{product.name}}</a>
                                  </td>
                                  <td>
                                      {{ product.category }}
                                  </td>
                                  <td>
                                      {% for gender in product.gender.all %}
                                      {{ gender }}
                                      {% endfor %}
                                  </td>
                                  <td class="text-right">{{ product.price|floatformat:2 }} €</td>
                              </tr>
                              {% endfor %}

                          </tbody>
                        </thead>
                    </table>    
                </div>    
            </div>
        <div class="row">
            <div class="col">
                <a href="{% url 'productsCreate'%}" class="btn btn-secondary col-12">AJOUTER UN PRODUIT</a>
            </div>
        </div>
        </div>    
    </div>
</div>

{% endblock %}