{% extends 'base.html' %}
{% load static %}
{% block content %}

<title>Ajouter un fournisseur</title>
<div class="row">
    <div class="col-12">
        <div class="card col-sm-12" style="padding-top: 0.5em; padding-bottom: 1.1em;">
            <div class="row">
                <div class="col-12">
                    <H2 class="card-header" style="position:relative ; margin-top:-0.2em">
                        Ajouter un contact
                    </H2>
                </div>   
            </div>
        </div>    
    </div>
</div>

<form action="" method="POST">{% csrf_token %}
    <div class="row">
        <div class="col-12">
            <div class="card col-sm-12">
                <div class="card-body" style="margin-bottom:2em">
                    <div class="row">
                        <div class="col-xs-2 col-sm-4">
                            <div class="form-group">
                                <label>Nom</label>
                                {{ ContactForm.name }}    
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-4">
                            <div class="form-group">
                                <label>Prénom</label>
                                {{ ContactForm.surname }}    
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-4">
                            <div class="form-group">
                                <label>Fournisseur</label>
                                {{ ContactForm.supplier_link }}      
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 col-sm-4">
                            <div class="form-group">
                                <label>Numéro de téléphone</label>
                                {{ ContactForm.phone_number }}    
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-4">
                            <div class="form-group">
                                <label>Adresse Mail</label>
                                {{ ContactForm.email }}    
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-4">
                            <div class="form-group">
                                <label>Position</label>
                                {{ ContactForm.position }}    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class='row'>
        <div class="col-12">
            <div class="card col-12">
                <div class="card-header">
                    <h3 class="card-title text-muted">Notes</h3>
                </div>
                <div class="card-body col-sm-12">
                    {{ NoteForm.note }}
                </div>
            </div>    
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <div class="row justify-content-left">
                <a href="{% url 'suppliersDetails' supplier.id %}" class="btn btn-danger col-sm-12">ANNULER</a>
            </div>        
        </div>
        <div class="col">
            <div class="row justify-content-end">
                <button type="submit" class="btn btn-primary col-sm-12">CRÉER LE PRODUIT</button>
            </div>        
        </div>
    </div>  
</form>
{% endblock %}