{% extends 'base.html' %}
{% load static %}
{% block content %}

<title>Fournisseur</title>
<!-- Title Card -->
<div class="row">
    <div class="col-12">
        <div class="card col-sm-12" style="padding-top: 0.5em; padding-bottom: 1em;">
            <div class="row">
                <div class="col-12">
                    <H2 class="card-header" style="position:relative ; margin-top:-0.2em">
                        <a href="{% url 'suppliers' %}" class="text-muted" style="position: relative; bottom: -4px" >
                            <i class="nc-icon nc-minimal-left"></i>
                        </a>
                        {{supplier.name}}
                    </H2>
                </div>   
            </div>
        </div>    
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card col-12">
            <div class="card-header">
                <h3 class="card-title">Infos</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-2 col-sm-4">
                        <label>Nom du fournisseur</label>
                        <p>{{supplier.name}}</p>
                    </div>
                    <div class="col-xs-2 col-sm-4">
                        <label>Abréviation</label>
                        {% if supplier.abreviation == None %}
                            <p>{{supplier.name}}</p>
                        {% else %}
                            <p>{{supplier.abreviation}}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-sm-4">
                        <label>Numéro de téléphone</label>
                        {% if supplier.phone_number == None %}
                            <p></p>
                        {% else %}
                            <p>{{ supplier.phone_number }}</p>
                        {% endif %}
                    </div>
                    <div class="col-xs-2 col-sm-4">
                        <label>Adresse Mail</label>
                        {% if supplier.email == None %}
                            <p></p>
                        {% else %}
                            <p>{{supplier.email}}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-sm-4">
                        <label>Adresse</label>
                        {% if supplier.Address == None %}
                            <p></p>
                        {% else %}
                            <p>{{supplier.Address}}</p>
                        {% endif %}
                    </div>
                    <div class="col-xs-2 col-sm-4">
                        <label>Ville</label>
                        {% if supplier.City == None %}
                            <p></p>
                        {% else %}
                            <p>{{supplier.City}}</p>
                        {% endif %}
                    </div>
                    <div class="col-xs-2 col-sm-4">
                        <label>Code Postal</label>
                        {% if supplier.Postal == None %}
                            <p></p>
                        {% else %}
                            <p>{{supplier.Postal}}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card text-left col-12">
            <div class="card-header">
                <div class="row">
                    <div class="col-11">
                        <h3 class="card-title">Contacts</h3>
                    </div>
                    <div class="col-1 justify-content-end">
                        <h3>
                            <a href="{% url 'contactsCreate' supplier.id %}" class="text-reset col-1" style="position: relative; bottom: -1rem" >
                                <i class="nc-icon nc-simple-add"></i>
                            </a>        
                        </h3>
                    </div>    
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <tr>
                                <th scope="col" class="text-left">Nom</th>
                                <th scope="col" class="text-left">Prénom</th>
                                <th scope="col" class="text-center">Fonction</th>
                                <th scope="col">Numéro de Téléphone</th>
                                <th scope="col" class="text-right">Email</th>
                            </tr>
                            <tbody>
                                {% for contact in contacts %}
                                <tr>
                                    <td class="text-left">
                                        <a class="text-reset" href="{% url 'contactsDetails' contact.id %}">{{contact.name}}</a>
                                    </td>
                                    <td class="text-left">
                                        <a class="text-reset" href="{% url 'contactsDetails' contact.id %}">{{contact.surname}}</a>
                                    </td>
                                    {% if contact.position == None %}
                                        <td></td>
                                    {% else %}
                                        <td class="text-center">{{contact.position}}</td>
                                    {% endif %}
                                    {% if contact.phone_number == None %}
                                        <td></td> 
                                    {% else %} 
                                        <td class="text-center">{{contact.phone_number}}</td>
                                    {% endif %}
                                    {% if contact.email == None %}
                                        <td></td> 
                                    {% else %} 
                                        <td class="text-right">{{contact.email}}</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                <!-- ici le contenu des tables-->
                            </tbody>
                        </thead>
                    </table>    
                </div>    
            </div>   
        </div>
    </div>
</div>

<div class="row">
    <div class="col col-sm-12 col-lg-6">
        <div class="card col-12" style="height:30em">
            <div class="card-body">
                <h1 class="text-center text-danger" style="font-size:9em">Graphs</h1>
            </div>
        </div>  
    </div>
    <div class="col col-sm-12 col-lg-6">
        <div class="card col-12" style="height:30em">
            <div class="card-header">
                <h3 class="card-title">Notes</h3>
            </div>
            <div class="card-body col-12">
                {% for note in notes %}
                    {% if note.note == '' or note.note == None %}
                        <p class="text-muted">Notes...</p>
                    {% else %}
                        <p>{{note.note}}</p>
                    {% endif %}
                {% endfor %}
                {% if notes %}
                {% else %}
                    <p class="text-muted">Notes...</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card col-12">
            <div class="card-header">
                <h3 class="card-title">Liste des Produits</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <tr>
                                <th scope="col" class="text-left">Prodiut</th>
                                <th scope="col" class="text-left">Catégorie</th>
                                <th scope="col">Quantité par lot</th>
                                <!-- needs to be linked to permissions -->
                                <th scope="col" class="text-right">Prix Unitaire</th>
                            </tr>
                            <tbody>
                                {% for index, product in products.iterrows %}
                                <tr>
                                    <td class="text-left">
                                        <a href="{% url 'productsDetails' product.id %}">{{product.name}}</a>
                                    </td>
                                    <td class="text-left">
                                        <a class="text-reset" href="{% url 'categoriesDetails' product.category_id %}">{{product.category}}</a>
                                    </td>
                                    <td class="text-center">{{product.quantity_by_lot}}</td>
                                    <td class="text-right">{{product.price|floatformat:2}} €</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </thead>
                    </table>    
                </div>    
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="row">
            <button type="button" class="btn btn-danger col-sm-12" data-toggle="modal" data-target="#exampleModalCenter">
                SUPRPIMER
            </button>
                
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Supprimer {{ supplier.name }} ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Voulez-vous vraiment supprimer ce fournisseur ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary col" data-dismiss="modal">Fermer</button>
                    <a href="{% url 'suppliersDelete' supplier.id %}" class="btn btn-danger col">SUPPRIMER</a>
                </div>
                </div>
            </div>
            </div>            
        </div>
    </div>
    <div class="col">
        <div class="row justify-content-end">
            <a href="{% url 'suppliersModify' supplier.id %}" class="btn btn-secondary col-sm-12">MODIFIER</a>
        </div>        
    </div>
</div>
{% endblock %}