{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Fournisseurs</title>
<div class="row justify-content-center">
    <div class="col-sm-12">
        <div class="card text-left">
            <h1 class="card-header">Liste des Fournisseurs</h1>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                          <tr>
                            <th scope="col" class="text-left">Nom du Fournisseur</th>
                          </tr>
                          <tbody>
                                <!-- ici le contenu des tables-->
                                {% for supplier in suppliers %}
                                <tr>
                                    <td class="text-left">
                                        <a href="{% url 'suppliersDetails' supplier.id %}">{{supplier.name}}</a>
                                    </td>
                                </tr>
                                {% endfor %}
                              <!-- ici le contenu des tables-->
                          </tbody>
                        </thead>
                    </table>    
                </div>    
            </div>
        </div>    
    </div>
</div>
<div class="row justify-content-end">
    <a href="{% url 'suppliersCreate' %}" class="btn btn-secondary">AJOUTER UN FOURNISSEUR</a>
</div>
{% endblock %}