{% extends 'base.html' %}
{% load static %}
{% block content %}

<title>Ajouter un fournisseur</title>
<div class="row">
    <div class="card col-12" style="padding-top: 0.5em; padding-bottom: 1.1em;">
        <div class="row">
            <div class="col-12">
                <H2 class="card-header" style="position:relative ; margin-top:-0.2em">
                    Modifier un Fournisseur
                </H2>
            </div>   
        </div>
    </div>    
</div>

<form action="" method="POST">{% csrf_token %}
    <div class="row">
        <div class="card col-12">
            <div class="card-header">
                <h3 class="card-title">Infos</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col col-12 col-md-4">
                        <div class="form-group">
                            <label for="name">Nom du Fournisseur*</label>
                            {% for error in SupplierForm.name.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                            {{ SupplierForm.name }}
                        </div>
                    </div> 
                    <div class="col col-12 col-md-4">
                        <div class="form-group">
                            <label for="name">Abréviation</label>
                            {% for error in SupplierForm.abreviation.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                            {{ SupplierForm.abreviation }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-12 col-md-4">
                        <div class="form-group">
                            <label for="name">Email</label>
                            {% for error in SupplierForm.email.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                            {{ SupplierForm.email }}
                        </div>
                    </div>
                    <div class="col col-12 col-md-4">
                        <div class="form-group">
                            <label for="name">Numéro de Téléphone</label>
                            {% for error in SupplierForm.phone_number.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                            {{ SupplierForm.phone_number }}
                        </div>
                    </div>  
                </div> 
                <div class="row">
                    <div class="col col-12 col-md-4">
                        <div class="form-group">
                            <label for="name">Adresse</label>
                            {% for error in SupplierForm.Address.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                            {{ SupplierForm.Address }}
                        </div>
                    </div>
                    <div class="col col-12 col-md-4">
                        <div class="form-group">
                            <label for="name">Ville</label>
                            {% for error in SupplierForm.City.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                            {{ SupplierForm.City }}
                        </div>
                    </div>
                    <div class="col col-12 col-md-4">
                        <div class="form-group">
                            <label for="name">Code Postal</label>
                            {% for error in SupplierForm.Postal.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                            {{ SupplierForm.Postal }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card col-12">
            <div class="row">
                <div class="col-12">
                    <h3 class="card-header">Notes</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            {% for error in NoteForm.note.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                            {{ NoteForm.note }}
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row justify-content-left">
                <a href="{% url 'suppliersDetails' supplier.id %}" class="btn btn-danger col-sm-12">ANNULER</a>
            </div>        
        </div>
        <div class="col">
            <div class="row justify-content-end">
                <button type="submit" class="btn btn-primary col-sm-12">MODIFIER LE PRODUIT</button>
            </div>        
        </div>
    </div>    
</form>
{% endblock %}