{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Commandes</title>
<div class="row justify-content-center">
    <div class="col-sm-12">
        <div class="card text-left">
            <h3 class="card-header">Commandes Brouillons</h3>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                          <tr>
                            <th class="text-left" style="width: 29%">Date</th>
                            <th class="text-left" style="width: 29%">Fournisseur</th>
                            <th class="text-left" style="width: 29%">Statut</th>
                            <!-- mettre sous condtion l'affichage de cette ligne -->
                            <th class="text-right" style="width: 13%">Prix</th>
                          </tr>
                          <tbody>
                                <!-- ici le contenu des tables-->
                                {% for draft in Drafts %}
                                <tr>
                                    <td class="text-left">{{draft.updated_at|date}}</td>
                                    <td class="text-left">{{ draft.supplier }}</td>
                                    <td class="text-left">{{ draft.status }}</td>
                                    <td class="text-right">{{ draft.price }}</td>
                                </tr>
                                {% endfor %}
                              <!-- ici le contenu des tables-->
                          </tbody>
                        </thead>
                    </table>    
                </div>    
            </div>
        </div>    
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-12">
        <div class="card text-left">
            <h3 class="card-header">Commandes en cours de Livraison</h3>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <tr>
                                <th class="text-left" style="width: 29%">Date</th>
                                <th class="text-left" style="width: 29%">Fournisseur</th>
                                <th class="text-left" style="width: 29%">Statut</th>
                                <!-- mettre sous condtion l'affichage de cette ligne -->
                                <th class="text-right" style="width: 13%">Prix</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ici le contenu des tables -->
                            {% for delivery in Pending %}
                            <tr>
                                <td class="text-left">{{delivery.updated_at|date}}</td>
                                <td class="text-left">{{ delivery.supplier }}</td>
                                <td class="text-left">{{ delivery.status }}</td>
                                <td class="text-right">{{ delivery.price }}</td>
                            </tr>
                            {% endfor %}
                      </tbody>
                    </table>    
                </div>    
            </div>
        </div>    
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-12">
        <div class="card text-left">
            <h3 class="card-header">Commandes en attente de la validation des quantités</h3>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <tr>
                                <th class="text-left" style="width: 29%">Date</th>
                                <th class="text-left" style="width: 29%">Fournisseur</th>
                                <th class="text-left" style="width: 29%">Statut</th>
                                <!-- mettre sous condtion l'affichage de cette ligne -->
                                <th class="text-right" style="width: 13%">Prix</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ici le contenu des tables-->
                            {% for validate in Validated %}
                            <tr>
                                <td class="text-left">{{validate.updated_at|date}}</td>
                                <td class="text-left">{{ validate.supplier }}</td>
                                <td class="text-left">{{ validate.status }}</td>
                                <td class="text-right">{{ validate.price }}</td>
                            </tr>
                            {% endfor %}
                      </tbody>
                    </table>    
                </div>
            </div>
        </div>    
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-12">
        <div class="card text-left">
            <h3 class="card-header">Commmandes Finies</h3>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <tr>
                                <th class="text-left" style="width: 29%">Date</th>
                                <th class="text-left" style="width: 29%">Fournisseur</th>
                                <th class="text-left" style="width: 29%">Statut</th>
                                <!-- mettre sous condtion l'affichage de cette ligne -->
                                <th class="text-right" style="width: 13%">Prix</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ici le contenu des tables-->
                            {% for finished in Closed %}
                            <tr>
                                <td class="text-left">{{finished.updated_at|date}}</td>
                                <td class="text-left">{{ finished.supplier }}</td>
                                <td class="text-left">{{ finished.status }}</td>
                                <td class="text-right">{{ finished.price }}</td>
                            </tr>
                            {% endfor %}   
                        </tbody>
                    </table>    
                </div>
            </div>
        </div>    
    </div>
</div>
<div class="row justify-content-end">
    <div class="col-xs-6">
        <a href="{% url 'ordersCreate' %}" class="btn btn-secondary">NOUVELLE COMMANDE</a>
    </div>
    <div class="col-xs-6">
        <a href="{% url 'ordersCreate' %}" class="btn btn-success">NOUVELLE COMMANDE AUTOMATIQUE</a>
    </div>
</div>
{% endblock %}