{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card col-sm-12" style="padding-top: 0.5em; padding-bottom: 1.1em;">
            <div class="row">
                <div class="col-12">
                    <H2 class="card-header" style="position:relative ; margin-top:-0.2em">
                        Modifier une catégorie
                    </H2>
                </div>   
            </div>
        </div>    
    </div>
</div>

<form action="" method="POST">{% csrf_token %}
    <div class="row">
        <div class="col-12">
            <div class="card col-sm-12" style="height: 25em">
                <div class="card-body">
                    
                    <div class="row">
                        <div class="col">
                            <label>Nom de la catégorie</label>
                            {{ CategoryForm.name }}
                        </div>
                        <div class="col">
                            <label>Abréviation</label>
                            {{ CategoryForm.abreviation }}
                        </div>
                        <div class="col">
                            <label>Seuil de commande</label>
                            {{ CategoryForm.threshold }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <a href="javascript:history.back()" class="btn btn-danger col">ANNULER</a>
            </div>
        </div>
        <div class="col">
            <div class="row justify-content-end">
                <button type="submit" class="btn btn-primary col-sm-12">MODIFIER LA CATEGORIE</button>
            </div>        
        </div>
    </div> 
</form>

{% endblock %}