{% extends 'base.html' %}
{% load static %}
{% block content %}

<title>Catégories</title>
<div class="row justify-content-center">
    <div class="col-sm-12">
        <div class="card text-left">
            <h1 class="card-header">Catégories</h1>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                          <tr>
                            <th class="text-left">CATÉGORIES</th>
                          </tr>
                          <tbody>
                                <!-- ici le contenu des tables-->
                                {% for category in categories %}
                                <tr>
                                    <td class="text-left">
                                        <a href="{% url 'categoriesDetails' category.id %}">{{category.name}}</a>
                                    </td>
                                </tr>
                                {% endfor %}
                              <!-- ici le contenu des tables-->
                          </tbody>
                        </thead>
                    </table>    
                </div>
            </div>
        </div>    
    </div>
</div>
<div class="row justify-content-end">
    <a href="{% url 'categoriesCreate'%}" class="btn btn-secondary">AJOUTER UNE CATÉGORIE</a>
</div>

{% endblock %}