{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Produits</title>
<div class="row justify-content-center">
    <div class="col-sm-12">
        <div class="card text-left shadow">
            <div class="card-header">
                <div class="row">
                    <div class="col-11">
                        <h3 class="card-title text-primary">Clients</h3>
                    </div>
                    <div class="col-1 justify-content-end">
                        <h3>
                            <a href="{% url 'costumersCreate' %}" class="text-muted" >
                                <i class="fas fa-fw fa-plus"></i>
                            </a>     
                        </h3>
                    </div>    
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                          <tr>
                            <th scope="col" class="text-left">Clients Usernames</th>
                          </tr>
                          <tbody>
                              <!-- ici le contenu des tables-->
                              {% for costumer in costumers %}
                              <tr>
                                  <td class="text-left">
                                      <a href="{% url 'costumersDetails' costumer.id %}">{{costumer.username}}</a>
                                  </td>
                              </tr>
                              {% endfor %}

                          </tbody>
                        </thead>
                    </table>    
                </div>    
            </div>
            <div class="card-footer">
                <a href="{% url 'costumersCreate'%}" class="btn btn-secondary col-12">AJOUTER UN CLIENT</a>
            </div>
        </div>    
    </div>
</div>

{% endblock %}